@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 1%);
    color: white;
    display: grid;
    grid-template-areas:
        "one one"
        "two three";
    grid-template-columns: 0.5fr 4fr;
    margin: 0;
}


header {
    grid-area: one;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

header h1 {
    margin: 10px;
    cursor: default;
    font-size: 2.8rem;
    margin-left: 25px;
}

header a {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(135deg, hsl(293, 95%, 51%), hsl(214, 100%, 62%));
    transition: width .3s;
}

header a:hover::after {
    width: 100%;
}

nav {
    grid-area: two;
    top: 0;
    left: 0;
    height: 100vh;
    width: 210px;
    position: sticky;
    justify-self: center;
}

nav ul {
    padding: 0;
    margin: 25px;
}

nav li {
    list-style-type: none;
    position: relative;
    margin-right: 20px;
    margin-bottom: 50px;
}

nav a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    transition: .3s;
}

nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-image: linear-gradient(90deg, hsl(293, 95%, 51%), hsl(214, 100%, 62%));
    transition: width .4s;
}

nav li:hover::after {
    width: 100%;
}

main {
    position: relative;
    grid-area: three;
    padding: 50px;
    border: 3px solid;
    border-right: none;
    border-bottom: none;
    border-image: linear-gradient(80deg, hsl(293, 95%, 51%), hsl(214, 100%, 62%)) 1;
}



main h2 {
    background-image: linear-gradient(135deg, hsl(293, 95%, 51%), hsl(214, 100%, 62%));
    background-repeat: no-repeat;
    background-size: 60% 3px;
    background-position: left bottom;
    font-size: 2.2rem;
    padding-bottom: 10px;
}

main p {
    max-width: 950px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    margin-bottom: 100px;
}

code {
    background-color: hsl(0, 0%, 10%);
    max-width: 300px;
    padding: 10px;
}